$font: "Lato", sams-serif;
$red: #c62828;
$grey: #949494;
$white: #ffffff;
html {
  font-size: 100%;
}

body {
  background: #000;
  color: $white;
  font-family: $font;

  * {
    box-sizing: border-box;
  }
}

App {
}

#Header {
  padding: 20px 60px;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
}

#Logo {
  path {
    fill: #d81f26;
  }
  width: 151px;
  height: 2.2rem;
  vertical-align: middle;
  margin-right: 10px;
  transition: margin 0.125s ease;

  &:hover {
    path {
      fill: $white !important;
    }
    margin-top: 3px;
    cursor: pointer;
  }
}

#Navigation {
  display: flex;
  padding: 0 40px;
  height: 2rem;
  align-items: center;
  a {
    color: $white;
    text-decoration: none;
    font-weight: 700;
    padding: 7px 10px;
    transition: background 0.125s ease;
    border-radius: 3px;

    &:hover {
      background: $red;
      cursor: pointer;
    }
  }
}

#Search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  pointer-events: none;

  input {
    font-weight: 400;
    font-size: 1rem;
    color: $white;
    background: transparent;
    border: 0;
    border: 2px solid rgba($grey, 0.3);
    border-radius: 37px;
    padding: 0 0.5rem;
    height: 2rem;
    width: 20%;
    pointer-events: auto; // When can a graphic become a target of a mouse event
    transition: border 0.25s ease, width 0.125s ease 0.125s;

    outline: none;
    appearance: none;

    &:focus {
      border: 2px solid $red;
      width: 30%;
    }
  }
}

#Main {
  display: flex;
  width: 100vw;
  //height: 80vh;
  padding-bottom: 40%;
  z-index: 1;
}

#Hero {
  order: 2;
  flex: 3;
  //border-image-repeat: stretch stretch;
}

#Billboard {
  order: 1;
  flex: 1;
}

.item {
  box-sizing: border-box;
  display: inline-block;
}

.wrap {
  overflow: hidden;
  position: relative;
  width: auto;
  height: 30vh;
}

.carousel {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .item {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    background: #ddd;
    img {
      height: 200px;
      width: 200px;
      object-fit: contain;
    }

    &:nth-child(even) {
      background: #d5d5d5;
    }
  }
}
